.app {
  min-width: 240px;
  min-height: 340px;

  width: 100vw;
  height: 100vh;

  background-color: var(--background-app);

  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 45px;

  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2.5px;

  transform: translateY(-5px);

  transition: all 1s ease;

  margin-top: 25px;
}

.header--moved {
  transform: translateY(-10px);

  opacity: 0.25;
}

.header__headling {
  font-size: 24px;
  color: var(--primary-color);

  -webkit-text-stroke: 0.1px rgb(255, 255, 255, 0.15);

  transition: all 1s ease;
}

.header__headling--moved {
  -webkit-text-stroke: none;
  color: #ffffff;
}

.previous {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  column-gap: 5px;

  width: 100%;

  margin-bottom: 5px;
}

.previous__item {
  width: 100%;
  height: 36px;

  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);

  border-radius: 10px;

  cursor: default;
}

.item--first {
  border: 1px solid rgb(255, 232, 197, 0.5);
}

.item--last {
  transform: translateX(50px);
  opacity: 0;
  transition: all 1s ease;
}

.item--to-move {
  transform: translateX(50px);
  transition: all 1s ease;
}

.item--mid {
  background-color: var(--green-color);
  box-shadow: 0px 0px 50px 5px rgb(151, 190, 90, 0.5);
}

.item--high {
  background-color: var(--red-color);
  box-shadow: 0px 0px 50px 5px rgb(255, 0, 0, 0.5);
}

.main {
  width: 100%;
  height: 300px;

  border: 1px solid var(--primary-color);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 100px 10px rgb(255, 162, 127, 0.25);

  margin-bottom: 5px;
}

.prediction {
  color: var(--red-color);
  font-size: 84px;

  text-shadow: 0px 0px 70px var(--red-color);

  cursor: default;

  transform: translateX(30px);
}

.prediction-hidden {
  visibility: hidden;
}

.animation-load {
  width: 60px;
  height: 50px;

  opacity: 1;

  transition: all 0.5 ease;
}

.animation-hidden {
  opacity: 0;

  transition: all 0.5 ease;
}

.footer {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--green-color);

  border-radius: 2.5px;

  cursor: pointer;

  transition: all 0.5s;

  margin-bottom: auto;
}

.footer:hover {
  background-color: #6bbe5a;

  border-radius: 0px;
}

.footer:active {
  background-color: rgb(228, 66, 66);
}

.footer__btn {
  width: 30px;
  height: 30px;
}
